  <style>
    li{
        font-size: 1.6rem;
    }
  </style>
  <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><h1>Reflections</h1></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Love Yourself Boldly.. Elegance in every tick, style in every stitch..</p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/getcoupon"> Offers & Discounts</a></li>
                                    <li><a href="/getcoupon"> Get Coupon</a></li>
                                    <li><a href="/contact">  Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a href="/products">Daniel Wellington Products</a></li>
                                    <li><a href="/products">Office Bags</a></li>
                                    <li><a href="/products">Rose Gold Watches</a></li>
                                    <li><a href="/products">Sling Bags</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
    <p class="text-center text-muted">© 2024 Company, Inc</p>
  </footer>
                </div>  
            </div>
        </div>
        <!-- Footer End-->
    </footer>