<section class="vh-100" style="background-color: #FBD2E0">
<h2 style="text-align:center; padding-top:2.5em;font-weight:bolder">Reflections</h2>

    <div class="container w-25 border py-2" id="container" style="background-color: white;border-radius:1rem;">
        <h2 class="font-weight-bold">Verification Failed</h2>
        <p>You have entered wrong OTP.. Please select an option!!</p>

        
        <form action="/sendOtp" method="post">
        <button type="submit" class="btn btn-warning">Resend OTP</button>
        </form>
    </div>
</section>