<main>
        
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <img src="/images/page404.jpeg" alt="page not found" style="height:250px">
                                <h3>We are sorry! But the page you requested was not found</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>