<main>
        
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <img src="/images/500internal.png" alt="page not found" style="height:250px">
                                <h3>There's some problem with our server. Kindly try refreshing page or comeback later!</h3>
                                <h4>Appologies for the inconvinience!</h4>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>