 <section class="confirmation_part section_padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="confirmation_tittle">
                <span style="font-size: 2rem;">Your order has been cancelled..</span><br>
                <a href="/vieworder" class="btn">View Orderlists</a>
              </div>
            </div>
          </div>
        </div>
 </section>