<main>
        
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <img src="/images/empty.png" alt="cart empty" style="height:250px">
                                <h2>Your cart is empty!</h2>
                                <div style="font-size: 3rem;">add items to it now.</div>
                                <a href="/products" class="btn btn-warning" style="background-color:#ff9f1a">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>