<main>
        
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <img src="/images/Paymentsuccessful.png" alt="payment success" style="height:250px">
                                <br>
                                <a href="/products" class="btn btn-warning" style="background-color:#ff9f1a">Shop more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>